<div class="h-full w-full flex flex-col gap-14 sm:px-20 px-8 py-8 max-w-6xl mx-auto">
  <div class="flex w-full justify-between">
    <div class="flex flex-col">
      <span class="text-xs sm:text-sm text-stone-400 font-medium">Deployment</span>
      <span class="sm:text-2xl font-medium w-fit"><%= @deployment.name %></span>
    </div>

    <div class="flex flex-col justify-center">
      <div class="flex gap-2 items-center">
        <%= link_to deployment_token_index_path(@deployment), class: 'p-2' do %>
          <%= heroicon 'key', variant: :outline, class: 'size-5' %>
        <% end %>

        <%= link_to settings_deployment_path, class: 'p-2 rounded-md' do %>
          <%= heroicon 'cog-8-tooth', variant: :outline, class: 'size-5' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @deployment.containers.none? %>
    <div class="flex flex-col items-center justify-center pt-32">
      <span class="text-stone-500">No containers found</span>
    </div>
  <% else %>

    <div class="flex flex-col items-center w-full ">
      <div class="flex flex-col divide-y divide-stone-400 border-stone-400 border rounded-md max-w-6xl w-full">
        <% @deployment.containers_by_name.each do |name, containers| %>
          <%= render Containers::ContainerStatusComponent.new(name:, containers:) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
