<div class="flex h-full">
  <div class="w-80 shrink-0 border-r min-h-full flex flex-col">
    <div class="header p-4">
      <div class="flex w-full justify-between">
        <div class="flex flex-col">
          <span class="text-xs sm:text-sm text-stone-400 font-medium">Application</span>
          <div class="flex gap-2 items-center sm:text-2xl">
            <span class="font-medium w-fit"><%= @app.name %></span>
          </div>
        </div>

      </div>

      <div class="flex gap-2 items-center justify-between">
        <%= link_to project_subscriber_index_path(project_id: @version.project_id), class: 'text-sm navigation-link' do %>
          All Deployments ->
        <% end %>

        <%= link_to edit_project_path(@app), class: 'p-2 hover:bg-stone-100' do %>
          <%= heroicon 'cog', variant: :outline, class: 'size-5' %>
        <% end %>
      </div>
    </div>

    <div class="flex flex-col gap-2 overflow-y-auto px-4 pb-8" id="<%= dom_id(@app, :version_list) %>" data-preserve-scroll>
      <%= link_to new_project_version_path(@app), class: 'font-medium p-2 flex text-sm justify-center items-center min-h-[70px] gap-2 duration-200 hover:bg-stone-100 border-transparent border' do %>
        <%= heroicon 'plus', variant: :outline, class: 'size-4 stroke-2' %>
        New Version
      <% end %>

      <% @app.project_versions.order(created_at: :desc).each do |version| %>
        <%= link_to version_path(version), class: ["p-2 flex flex-col gap-2 duration-200", {
          'bg-stone-100 border border-stone-400': version == @version,
          'hover:bg-stone-100 border-transparent border': version != @version
        }] do %>
          <div class="flex justify-between item">
            <div  class="font-semibold">
              <%= version.version %>
            </div>
            <div class="text-sm text-stone-600">
              <%= version.created_at.to_formatted_s(:short) %>
            </div>
          </div>

          <div class="flex justify-between items-center text-sm">
            <div class="flex gap-4 items-center">
              <%= pluralize(version.services.count, 'service') %>
            </div>

            <div class="div uppercase">
              <%= image_tag 'kubernetes-icon-black.svg', class: 'h-4' if version.published? %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="h-full w-full flex flex-col gap-10 sm:px-20 px-8 py-8 overflow-y-scroll">
    <div class="max-w-6xl mx-auto w-full">
      <%= yield %>
    </div>
  </div>
</div>
