<%= content_for :content do %>
  <div class="h-full flex">
    <div class="header flex flex-col justify-between p-3 gap-8 items-center border-r">
      <div class="left font-bold flex flex-col items-center gap-8">
        <%= link_to root_path, class: 'text-2xl' do %>
          <%= image_tag 'icon.png', class: 'w-8 h-8' %>
        <% end %>
        <div class="">
          <% if user_signed_in? %>
            <div class="items-center rounded-md gap-4 hidden sm:flex flex-col flex">
              <%= render Sidebar::IconComponent.new(path: root_path, icon: 'computer-desktop', label: "Deployments") %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="right">
        <% if user_signed_in? %>
          <div data-burger-menu-target="button"
               data-action="click->burger-menu#toggleMenu"
               class="sm:hidden p-1 px-1.5 text-xs border border-stone-600 rounded-md bg-stone-800">
            <div class="w-7 h-7 cursor-pointer">
              <%= heroicon 'bars-4', class: 'w-full h-full' %>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <%= button_to destroy_user_session_path, method: :delete, class: 'hidden sm:block flex items-center gap-2' do %>
              <%= profile_picture_tag(current_user) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="content grow overflow-y-auto">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
