<%= render layout: 'layouts/project' do %>
  <div class="flex gap-2 items-center">
    <span class="font-medium w-fit text-stone-500">New Version</span>
  </div>
  <%= form_with model: @previous_version, url: project_version_index_path(project_id: @app), method: :post do |form| %>
    <div class="flex flex-col gap-6">
      <div class="flex items-center justify-between">
        <span class="font-medium">Version Label</span>

        <%= form.text_field :version, required: true, class: 'w-1/2 p-2 rounded-md' %>
      </div>

      <div class="flex items-center justify-between">
        <%= form.label :description, class: 'font-medium' %>

        <%= form.text_field :description, class: 'w-1/2 p-2 rounded-md' %>
      </div>

      <%= form.submit "Create", class: 'px-3 py-2 mt-2 bg-stone-700 rounded-md text-stone-100 cursor-pointer w-fit' %>
    </div>
  <% end %>
<% end %>
