<%= render layout: 'layouts/project' do %>
  <div class="flex flex-col gap-10">
    <%= render UI::PageTitleNavigationComponent.new(
      back_path: version_path(@app.latest_project_version),
      back_text: "Application",
      ) do |component| %>
      <% component.with_title do %>
        <div class="flex items-baseline gap-2">
          <span class="text-2xl font-medium text-stone-700 w-fit">New Version</span>
          <span class="text-2xl font-normal text-stone-500 w-fit"><%= @app.name %></span>
        </div>
      <% end %>
    <% end %>
    <%= form_with model: @previous_version, url: project_version_index_path(project_id: @app), method: :post do |form| %>
      <div class="flex flex-col gap-6">
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-1 w-4/12">
            <%= form.label :version, class: 'font-medium text-stone-800 flex-none' %>
            <span class="text-stone-600 text-sm">
              Semantic version, must be major.minor.patch format and monotonically increasing.
            </span>
          </div>

          <%= form.text_field :version,
                              placeholder: '10.123.456',
                              required: true,
                              value: @previous_version.version.split('.').tap { |v| v[2] = v[2].to_i + 1 }.join('.'),
                              title: 'Must be major.minor.patch format (e.g. 10.22.343).',
                              pattern: '\d+\.\d+\.\d+',
                              class: 'text-sm w-7/12 p-2' %>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-1 w-4/12">
            <%= form.label :description, class: 'font-medium text-stone-800 flex-none' %>
            <span class="text-stone-600 text-sm">
              Optional description for this application. Will be visible when installing via Helm.
            </span>
          </div>

          <%= form.text_field :description, class: 'text-sm w-7/12 p-2' %>
        </div>

        <%= form.submit "Create", class: 'px-3 py-2 mt-2 bg-stone-700 rounded-md text-stone-100 cursor-pointer w-fit' %>
      </div>
    <% end %>
  </div>
<% end %>
