<%= render layout: 'layouts/project' do %>
  <div class="flex flex-col gap-4">
    <div class="flex w-full justify-between items-center">
      <div class="flex items-baseline font-medium">
        <%# TODO: make this a dropdown? %>
        <span class="font-medium text-stone-600 w-fit font-mono">V<%= @version.version %></span>
      </div>

      <div class="flex items-center gap-2">
        <%= link_to new_project_version_path(@app), class: 'px-2 py-1 border border-stone-300 rounded-md text-sm flex gap-1 items-center' do %>
          <%= heroicon 'plus', variant: :outline, class: 'size-4' %>
          New Version
        <% end %>

        <%= render Applications::PublishButtonComponent.new(version: @version) %>

        <%= link_to edit_project_version_path(@app, @version), class: 'p-2' do %>
          <%= heroicon 'pencil', variant: :outline, class: 'size-4' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @version.published? %>
    <div class="flex flex-col gap-4">
      <%= render CommandSnippetComponent.new(title: "Add Helm repository", snippet: @app.helm_repo.add_repo_command ) %>
      <%= render CommandSnippetComponent.new(title: "Install Chart", snippet: @app.helm_repo.install_chart_command(service: @version.project_services.first) ) %>
    </div>
  <% end %>

  <%= render Services::GridComponent.new(project_version: @version) %>
<% end %>
