<div class="h-full w-full flex flex-col gap-10 sm:px-20 px-8 py-8 max-w-6xl mx-auto">
  <div class="flex flex-col gap-8">
    <div class="flex w-full justify-between">
      <div class="flex flex-col">
        <span class="text-xs sm:text-sm text-stone-400 font-medium">Application</span>
        <div class="flex gap-2 items-center sm:text-2xl">
          <span class="font-medium w-fit"><%= @app.name %></span>
        </div>

      </div>

      <div class="flex flex-col justify-center">
        <div class="flex gap-2 items-center">

          <%= link_to edit_project_path(@app), class: 'p-2' do %>
            <%= heroicon 'cog', variant: :outline, class: 'size-5' %>
          <% end %>
        </div>
      </div>
    </div>
    <hr class="border-stone-400 border-t-2 w-full">
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex w-full justify-between items-center">
      <div class="flex items-baseline font-medium">
        <%# TODO: make this a dropdown? %>
        <span class="font-medium text-stone-600 w-fit font-mono">V<%= @version.version %></span>
      </div>

      <div class="flex items-center gap-2">
        <%= render Applications::PublishButtonComponent.new(version: @version) %>

        <%= link_to edit_project_version_path(@app, @version), class: 'p-2' do %>
          <%= heroicon 'pencil', variant: :outline, class: 'size-4' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @version.published? %>
    <div class="flex flex-col gap-4">
      <%= render CommandSnippetComponent.new(title: "Add Helm repository", snippet: @app.helm_repo.add_repo_command ) %>
      <%= render CommandSnippetComponent.new(title: "Install Chart", snippet: @app.helm_repo.install_chart_command(service: @version.project_services.first) ) %>
    </div>
  <% end %>

  <%= render Services::GridComponent.new(project_version: @version) %>
</div>
