<div class="w-full whitespace-nowrap px-6 pb-8 pt-6 flex flex-col gap-2 w-full">
  <div class="flex items-center justify-between gap-2">
    <div class="flex items-center gap-1">
      <span class="text-stone-100 font-semibold"><%= name %></span>
      <span class="text-stone-400 text-sm"><%= containers.count %> instances</span>
      <%= heroicon 'chevron-down', class: 'size-5 text-stone-400' %>
    </div>
    <span class="<%= text_classes(current_status) %>"><%= status_text(current_status) %></span>
  </div>

  <div class="flex flex-col w-full gap-4">
    <div class="flex justify-center items-center gap-1.5 h-10 grow">
      <% group_status_bars.each do |status_bar| %>
        <div class="relative group max-w-2 min-w-1 w-full h-full <%= bg_classes(status_bar[:status]) %>">
          <div class="absolute flex flex-col gap-0.5 top-10 left-0 border border-stone-400 rounded-md bg-stone-800 text-stone-100 text-xs rounded px-2 py-1 whitespace-nowrap z-40 opacity-0 group-hover:opacity-100">
            <%= status_bar[:date].strftime('%B %d, %Y') %>
            <div class="flex justify-between items-baseline gap-2">
              <div class="text-xs <%= text_classes(status_bar[:status]) %>"> <%= status_text(status_bar[:status]) %> </div>
              <div class="text-xs text-stone-400"> <%= status_bar[:uptime_percentage] %>% uptime </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex gap-2 w-full items-center text-sm text-stone-400">
      <span><%= DAYS %> days ago</span>
      <hr class="border-stone-400 w-full">
      <span><%= uptime_percentage %>% uptime</span>
      <hr class="border-stone-400 w-full">
      <span>Today</span>
    </div>
  </div>
</div>
