<div class="w-full whitespace-nowrap px-6 pb-8 pt-6 flex flex-col gap-2 w-full" data-controller="hide-show">
  <div class="flex items-center justify-between gap-2" data-action="click->hide-show#toggle">
    <div class="flex items-center gap-1">
      <span class="text-stone-100 font-semibold"><%= name %></span>
      <span class="text-stone-400 text-sm"><%= containers.count %> instances</span>
      <%= heroicon 'chevron-down', class: 'size-5 text-stone-400 cursor-pointer' %>
    </div>
    <span class="<%= text_classes(group_status.current_status) %>"><%= status_text(group_status.current_status) %></span>
  </div>

  <%= render Containers::GroupStatusComponent.new(group_status:) %>

  <div class="flex flex-col gap-2 hidden" data-hide-show-target="content">
    <% group_status.constituent_stats.zip(containers).each do |container_stats, container| %>
      <%= render Containers::IndividualContainerStatusComponent.new(status_bars: container_stats.values.reverse, name: container_stats.values.first[:lifecycle_id], container: ) %>
    <% end %>
  </div>
</div>
