<div class="flex flex-col gap-10 sm:px-20 mx-auto max-w-6xl p-8">
  <%= render UI::PageTitleNavigationComponent.new(
    back_path: version_path(@version),
    back_text: "Version #{@version.version}",
    ) do |component| %>
    <% component.with_title do %>
      <div class="flex items-baseline gap-2">
        <span class="text-2xl font-medium text-stone-700 w-fit">Customer Deployment</span>
        <span class="text-2xl font-normal text-stone-500 w-fit"><%= @app.name %></span>
      </div>
    <% end %>
  <% end %>

  <%= form_for ProjectSubscriber.new, url: project_subscribers_path(@app), method: :post do |form| %>
    <div class='flex flex-col gap-6'>

      <%= render UI::FormTextFieldComponent.new(title: 'Organization Name') do |component| %>
        <%= component.with_label do %>
          Name of the organization that will be deploying this application.
        <% end %>
        <%= component.with_field do %>
          <%= form.text_field :name, required: true, class: 'w-full !p-0 border-0 focus:ring-0 text-sm' %>
        <% end %>
      <% end %>

      <div class="flex items-center justify-between ">
        <div class="flex flex-col gap-1 w-4/12">
          <span class="font-medium text-stone-800 flex-none">Version</span>
          <span class="text-stone-600 text-sm">
            Select the version of <span class="font-medium"><%= @app.name %></span> you want to deploy.
          </span>
        </div>

        <%= form.collection_select :project_version_id,
                                   @app&.project_versions&.published,
                                   :id,
                                   :version, # TODO: It'd be nice to surface when the version was published in the dropdown.
                                   {
                                     prompt: 'Select a version',
                                     required: true,
                                     selected: params[:version_id],
                                   },
                                   class: 'w-7/12 p-2 text-sm' %>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex flex-col gap-1 w-4/12">
          <span class="font-medium text-stone-800 flex-none">Shepherd Agent</span>
          <span class="text-stone-600 text-sm">
            Deploy an agent to enable support for automatic upgrades, health checks, and monitoring.
          </span>
        </div>

        <%= form.collection_select :agent,
                                   [['Enabled', :full], ['Disabled', :no]],
                                   :second,
                                   :first,
                                   {
                                     include_blank: false,
                                     selected: :full,
                                   },
                                   class: 'w-7/12 text-sm p-2' %>

        <%#= form.check_box :agent, { checked: true, class: 'ring-0 focus:ring-0 size-5' }, :full, :no %>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex flex-col gap-1 w-4/12">
          <span class="font-medium text-stone-800 flex-none">Publicly Accessible</span>
          <span class="text-stone-600 text-sm">
            Should documentation for this deployment be publicly accessible without authentication?
          </span>
        </div>

        <%= form.collection_select :auth,
                                    [['Public', false], ['Private', true]],
                                    :second,
                                    :first,
                                    {
                                     include_blank: false,
                                     selected: true,
                                   },
                                    class: 'w-7/12 text-sm p-2' %>
      </div>

      <%= form.submit "Create", class: 'px-3 py-2 mt-2 bg-stone-700 shadow-sm text-stone-100 cursor-pointer w-fit' %>
    </div>
  <% end %>
</div>
