<div class="h-full w-full flex flex-col gap-14 sm:px-20 px-8 py-8 max-w-6xl mx-auto">
  <div class="flex w-full justify-between items-center">
    <div class="flex flex-col">
      <span class="text-sm text-stone-400 font-medium text-stone-100"><%= @subscriber.project.name %></span>
      <div class="flex items-center gap-2 text-2xl">
        <span class=" font-medium text-stone-700 w-fit">Deployment</span>
        <span class="text-stone-500"><%= @subscriber.name %></span>
      </div>
    </div>

    <%= link_to version_path(@most_recent_published_version || @subscriber.project.project_versions.last), class: "p-2 rounded-md hover:bg-stone-50 duration-200" do %>
      <%= heroicon 'computer-desktop', class: 'size-6' %>
    <% end %>
  </div>

  <% if @most_recent_published_version.present? %>
    <%= render Applications::InstallInstructionsComponent.new(version: @most_recent_published_version, project: @subscriber.project) %>
  <% else %>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        <span class="text-sm text-stone-400 font-medium">No published versions</span>
        <span class="text-sm text-stone-400">There are no published versions for this project.</span>
      </div>
    </div>
  <% end %>

</div>
