<%= render layout: 'layouts/project' do %>
  <div class="w-full flex flex-col gap-10">
    <%= render UI::PageTitleNavigationComponent.new(
      back_path: version_path(@version),
      back_text: "Version #{@version.version}",
      ) do |component| %>
      <% component.with_title do %>
        <div class="flex items-center gap-2">
          <span class="text-2xl font-medium text-stone-700 w-fit">Edit</span>
          <span class="text-2xl font-medium text-stone-700 w-fit"><%= @dependency.name %></span>
        </div>
      <% end %>
    <% end %>

    <%= render @dependency_info.form_component.new(
      dependency_instance: @dependency_instance,
      dependency_info: @dependency_info,
      form_method: :patch,
      version: @version,
      disabled: @disabled
    ) %>

    <% unless @disabled %>
      <div class="flex flex-col gap-4 p-4 rounded-md border-stone-300 border">
        <div class="flex flex-col gap-1">
          <span class="font-medium text-lg">Dependency Deletion</span>
          <span class="text-stone-400 text-sm">Once you delete a Dependency, it cannot be undone. Please be absolutely certain before proceeding.</span>
        </div>
        <%= button_to dependency_path(@dependency), method: :delete, class: 'button-destructive' do %>
          <span class="text-stone-200 text-sm cursor-pointer">Delete Dependency</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
