<div class="">
  <%= link_to subscriber_path(subscriber), class: 'cursor-pointer w-full bg-white hover:shadow-md border border-solid border-stone-400 p-4 duration-200 flex flex-col gap-1' do %>
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <h6 class="font-medium">
          <%= subscriber.name %>
        </h6>
        <% unless subscriber.auth %>
          <div class="rounded-md text-xs flex items-center bg-stone-700 text-stone-100 px-1.5 rounded-md">
            Public
          </div>
        <% end %>
      </div>

      <%= heroicon 'arrow-right', class: 'size-4' %>
    </div>

    <div class="flex items-center gap-2 text-xs text-stone-600">
      <%= content_tag :div, nil, class: ['rounded-full size-2', {
        'bg-green-600': subscriber.online?,
        'bg-stone-400': !subscriber.online?
      }] %>

      <% if subscriber.online? %>
        Online
      <% else %>
        Offline
      <% end %>

      <% if subscriber.online? %>
        •
        Last pinged <%= time_ago_in_words(subscriber.last_heartbeat_at) %> ago
      <% end %>
    </div>
  <% end %>
</div>
