<div class="relative z-10 flex flex-col gap-8">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 justify-between">
      <div class="flex items-center gap-1">
        <div class="font-semibold">Deployments</div>
        <% if project.present? %>
          <div class="text-stone-400">for <%= project.name %></div>
        <% end %>
      </div>

      <div class="flex items-center">
        <%= link_to new_project_subscriber_path, method: :get do %>
          <div class="p-2 cursor-pointer flex items-center gap-1 text-sm">
            <%= heroicon 'plus', class: 'size-4' %> Create
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if subscribers.blank? %>
    <div class="flex flex-col gap-2 items-center justify-center bg-white border border-stone-300 py-20">
      Your deployments will be visible here. <br /> <%= link_to 'Create your first deployment ->', new_project_subscriber_path, class: 'underline' %>
    </div>
  <% else %>
    <ul class="">
      <% subscribers&.group_by(&:project)&.each do |project, subscribers| %>
        <li class="flex flex-col gap-4">
          <div class="flex items-center gap-2 text-lg">
            <%= project.name %>
          </div>
          <div class="flex flex-col gap-2">
            <% subscribers.each do |subscriber| %>
              <%= render Subscribers::ElementComponent.new(subscriber:) %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
