<div class="bg-white border border-stone-300" data-controller="ui--accordion">
  <div class="flex items-center gap-4 p-4 justify-between hover:shadow cursor-pointer" data-action="click->ui--accordion#toggle">
    <div class="flex items-center gap-4">
      <% if agent_instance.healthy? %>
        <div class="rounded-full size-2 bg-green-600">
      <% else %>
        <div class="rounded-full size-2 bg-stone-400">
      <% end %>
      </div>
      <div class="">
        <div class="text-sm font-medium"><%= agent_instance.healthy? ? 'Online' : 'Offline' %></div>
        <div class="text-xs text-stone-500">
          Version <%= agent_instance.currently_running_version.version %>
          •
          Last pinged <%= time_ago_in_words(agent_instance.last_heartbeat_at) %> ago
          •
          <%= agent_instance.id %>
        </div>
      </div>
    </div>
    <div class="right">
      <%= heroicon 'chevron-down', class: 'size-4' %>
    </div>
  </div>
  <div class="bg-stone-100 p-4 flex flex-col gap-4" data-ui--accordion-target="panel">

    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1">
        <div class="text-sm font-medium">
          Deploy new version
        </div>
        <div class="text-xs text-stone-600">Note: This will be immediately deployed to the <%= subscriber.name %> deployment.</div>
      </div>

      <%= form_with url: assign_new_version_subscriber_path, method: :post, class: 'flex flex-col gap-1 items-start' do |form| %>
        <div class="flex gap-4 items-center">
          <%= form.collection_select :project_version_id,
              subscriber.project.project_versions.published.order(created_at: :desc).excluding(subscriber.project_version),
              :id,
              :version,
              {},
              class: 'p-1 pl-2 pr-8 min-w-32'
          %>
          <%= form.button :submit,
                          class: 'bg-white p-1 px-2 border border-stone-500 hover:shadow hover:bg-stone-50',
                          disabled: !subscriber.eligible_for_new_action? do %>
            Deploy ->
          <% end  %>
        </div>
        <div class="text-xs text-stone-600">
          Currently running version
          <%= link_to agent_instance.currently_running_version.version,
                      version_path(agent_instance.currently_running_version), class: 'font-medium underline' %>
          according to logs received <%= time_ago_in_words(agent_instance.heartbeat_logs.most_recent.created_at) %> ago.
        </div>
      <% end %>
    </div>

    <% if subscriber.apply_version_actions.present? %>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-1">
          <div class="text-sm font-medium">
            Deploy Logs
          </div>
        </div>
        <div class="border flex-col flex divide-y bg-white border-stone-400">
          <% subscriber.apply_version_actions.order(created_at: :desc).limit(5).each do |aa| %>
            <div class="p-2 px-4 flex gap-4 justify-between items-center">
              <div class="flex gap-4">
                <div class="flex items-center gap-2">
                  <% if aa.completed? %>
                    <%= heroicon :check, class: 'size-4' %>
                  <% else %>
                    <%= heroicon :clock, class: 'size-4' %>
                  <% end %>
                </div>
                <div class="item">
                  <div class="text-sm font-medium">Change Version</div>
                  <div class="flex items-center gap-1 text-stone-500 text-xs">
                    <div class="">
                      <%= time_ago_in_words(aa.created_at) %> ago
                    </div>
                    •
                    <div class="">
                      Deployed version
                      <%= link_to aa.target_version.version,
                                  version_path(aa.target_version), class: 'font-medium underline' %>
                      from version
                      <%= link_to aa.source_version.version,
                                  version_path(aa.source_version), class: 'font-medium underline' %>
                    </div>

                    <% if aa.created_by.present? %>
                      •
                      <div class="flex items-center gap-1">
                        Performed by
                        <%= aa.created_by.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="right">
                <% if subscriber.eligible_for_new_action? && subscriber.project_version != aa.source_version %>
                  <%= button_to assign_new_version_subscriber_path(subscriber),
                                params: { project_version_id: aa.source_version },
                                class: 'primary-button flex items-center gap-1 !text-xs px-4' do %>
                    <%= heroicon 'arrow-uturn-left', class: 'size-3' %>
                    Rollback
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
