<%= form_with model: dependency_instance, scope: :dependency, method: form_method, url:, class: 'flex flex-col gap-6' do |form| %>
  <%= form.hidden_field :name, value: dependency_info.name %>
  <%# TODO: remove these hidden fields and use info reference instead %>
  <%= form.hidden_field :repo_url, value: dependency_info.repository %>
  <%= form.hidden_field :chart_name, value: dependency_info.chart_name %>
  <%= form.hidden_field :version, value: dependency_info.version %>

  <% if update? %>
    <div class="flex flex-col gap-6">
      <%= render CommandSnippetComponent.new(title: "Internal Redis URL", snippet: db_connection_string ) %>
      <hr class="border-stone-300 my-4" />
    </div>
  <% end %>

  <%= form.fields_for :configs do |config_form| %>

    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 max-w-96">
        <%= config_form.label :max_memory_policy, class: 'font-medium text-stone-800 flex-none' %>
        <span class="text-stone-600 text-sm">
        Version of the dependency to use
      </span>
      </div>

      <%= config_form.collection_select :max_memory_policy,
                                        MAX_MEMORY_POLICY_OPTIONS,
                                        :first,
                                        :last,
                                        {},
                                        class: 'w-1/2 p-2 rounded-md' %>
    </div>

    <%= render UI::FormResourcesComponent.new(
      form: config_form,
      disk_options: Dependencies::RedisForm::DISK_OPTIONS,
      cpu_options: Dependencies::RedisForm::CPU_CORES_OPTIONS,
      memory_options: Dependencies::RedisForm::MEMORY_OPTIONS
    ) %>
  <% end %>

  <%= form.submit update_create_text, class: 'px-3 py-2 mt-2 bg-stone-700 rounded-md text-stone-100 cursor-pointer w-fit' %>
<% end %>
