<div class="h-full w-full flex flex-col gap-10 sm:px-20 px-8 py-8 max-w-6xl mx-auto">
  <% if current_user.team.nil? %>
    <span>You are not part of a team yet. Ask your admin to add you to a team or create a new team.</span>

    <%= form_for Team.new, url: team_index_path, method: :post, class: 'flex flex-col gap-4 p-4 rounded-md border border-stone-300' do |form| %>
      <span class="text-medium font-sm">Create a new team</span>
      <div class="flex justify-between items-center gap-2 rounded-md max-w-4xl w-full border border-stone-600 bg-stone-950 p-1 pr-2 has-[:focus]:border-stone-300 duration-300">
        <%= form.text_field :name,
                            placeholder: 'Team name',
                            class: 'w-full focus:ring-0 border-0 bg-transparent placeholder:text-stone-500',
                            required: true,
                            minlength: 3,
                            'data-1p-ignore': true,
                            'data-lpignore': true,
                            maxlength: 800,
                            autofocus: true %>
        <div class="hover:bg-stone-700 whitespace-nowrap border-stone-400 text-sm border bg-stone-900 text-stone-300 flex items-center gap-2 rounded px-2 py-1 cursor-pointer">
          <%= form.submit 'Submit', class: 'text-stone-200 text-sm cursor-pointer' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <span class="font-medium text-lg">You are a member of team <%= current_user.team.name %></span>

    <div class="flex flex-col gap-4 p-4 rounded-md border-stone-300 border">
      <span class="font-medium text-lg">Team members</span>
      <div class="flex flex-col gap-2">
        <% current_user.team.users.each do |user| %>
          <div class="flex items-center gap-2">
            <%= profile_picture_tag(user) %>
            <span><%= user.email %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
