<%= render DropdownComponent.new(align: :right) do |c| %>
  <div class="rounded-md hover:bg-stone-600 bg-stone-700 p-2 cursor-pointer">
    <%= heroicon 'plus', class: 'size-4 stroke-2 text-stone-100' %>
  </div>
  <% c.with_dropdown do %>
    <div class="bg-stone-500 flex-nowrap text-nowrap w-52 p-3 text-slate-800 gap-2 bg-stone-800 shadow-md rounded-md border border-stone-400">
      <%= form_for Deployment.new, url: deployment_index_path, method: :post do |form| %>
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-1">
            <%= form.label :name, class: 'text-xs font-semibold text-white' %>
            <%= form.text_field :name,
                                'data-1p-ignore': true,
                                'data-lpignore': true,
                                maxlength: 80,
                                class: 'text-sm text-slate-800 px-1.5 py-0.5 rounded-md border border-stone-400 focus:ring-0 focus:border-stone-400' %>
          </div>
          <div class="flex gap-1 w-full justify-end">
            <%= form.button 'Create', class: "text-white bg-stone-700 hover:bg-stone-600 shadow-sm text-xs rounded-md px-1.5 py-0.5 duration-200 cursor-pointer border border-stone-400" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
