<%= render layout: 'layouts/project' do %>
  <div class="flex w-full justify-between mb-10">
    <div class="flex flex-col gap-2">
      <%= render UI::PageTitleNavigationComponent.new(
        back_path: version_path(@version),
        back_text: "Version #{@version.version}",
        ) do |component| %>
        <% component.with_title do %>
          <div class="flex items-center gap-2">
            <span class="text-2xl font-medium text-stone-700 w-fit">Edit</span>
            <span class="text-2xl font-medium text-stone-700 w-fit"><%= @service.name %></span>
          </div>
        <% end %>
      <% end %>

      <div class="relative" data-controller="sidebar-icon">
        <div data-action="mouseenter->sidebar-icon#showTooltip mouseleave->sidebar-icon#hideTooltip">
          <%= render CopyTextComponent.new(snippet: @service.k8s_service_names.first) if @service.k8s_service_names.any? %>
        </div>
        <div class="text-nowrap transition-opacity opacity-0 pointer-events-none left-1/2 -translate-x-1/2 left-full mt-2 font-normal text-sm p-1 bg-stone-700 rounded-md text-slate-100 px-2 duration-400 absolute z-50" data-sidebar-icon-target="tooltip">
          <div class="absolute left-0 rotate-45 bg-stone-700 -translate-y-1.5 left-1/2 -translate-x-1/2 size-1.5"></div>
          Internal Service URL
        </div>
      </div>
    </div>
  </div>

  <%= render Services::ServiceFormComponent.new(service_form_object: Service::Form.from_service(@service), form_method: :patch, version: @version, disabled: @disabled) %>

  <% unless @disabled %>
    <div class="flex flex-col gap-4 p-4 border-stone-300 border bg-white mt-10">
      <div class="flex flex-col gap-1">
        <span class="font-medium text-lg">Service Deletion</span>
        <span class="text-stone-600 text-sm">Once you delete an Service, it cannot be undone. Please be absolutely certain before proceeding.</span>
      </div>
      <%= button_to project_service_path(@service), method: :delete, class: 'button-destructive' do %>
        Delete Service
      <% end %>
    </div>
  <% end %>
<% end %>
