<div class="dynamic-element flex gap-4 items-center">
  <div class="flex flex-col gap-1 w-fit flex-none">
    <%= form.label :templated, 'Client set', class: 'font-medium text-stone-100 text-sm' %>
    <%= form.check_box :templated,
                       checked: environment_variable&.dig('templated') == "1",
                       class: 'rounded-md bg-stone-700 text-stone-100 border border-stone-600 focus:ring-0 outline-none cursor-pointer' %>
  </div>
  <%= form.text_field :name,
                      placeholder: 'ENV_NAME',
                      value: environment_variable&.dig('name'),
                      class: 'w-4/6 p-2 rounded-md bg-stone-700 text-stone-100 border border-stone-600 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none'
  %>
  <%= form.text_field :value,
                      placeholder: 'value',
                      value: environment_variable&.dig('value'),
                      class: 'w-2/6 p-2 rounded-md bg-stone-700 text-stone-100 border border-stone-600 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none'
  %>
    <%= heroicon "minus-circle", class: 'flex-none size-6 text-red-500 cursor-pointer', data: { action: 'click->dynamic-elements#removeElement' } %>
</div>
