<div class="flex flex-col gap-8" data-controller="expandable-form">
  <div class="flex items-start justify-between gap-24">
    <div class="flex flex-col gap-1 shrink-0 w-64">
      <div class="flex flex-col">
        <span class="font-medium text-stone-800 flex-none">Disk</span>
        <span class="text-stone-500 text-xs font-medium uppercase">Optional</span>
      </div>
      <span class="text-stone-700 text-sm">
        Add a mount to your service.
      </span>

    </div>

    <div class="<%= 'hidden' if existing_mount? %> w-full flex justify-end" data-expandable-form-target="addButton">
      <div class="button flex items-center gap-1" data-action="click->expandable-form#showSubForm">
        <%= heroicon :plus, class: 'size-4' %>
        Add Disk
      </div>
    </div>
  </div>

  <div class="<%= 'hidden' unless existing_mount? %> flex flex-col gap-8" data-expandable-form-target="subForm">

    <%= render UI::FormTextFieldComponent.new(title: 'Mount Path') do |component| %>
      <%= component.with_label do %>
        The absolute path where the disk will be mounted inside the container.
      <% end %>
      <%= component.with_field do %>
        <%= form.text_field :pvc_mount_path,
                            required: true,
                            pattern: "\/(?!\/$)(?!\/+)[\w.-]+(?:\/[\w.-]+)*\/?",
                            title: 'Path must be a valid absolute path (not root)',
                            placeholder: '/var/data',
                            disabled: !existing_mount?,
                            'data-expandable-form-target': 'formField',
                            class: 'text-sm w-full !p-0 border-0 focus:ring-0' %>
      <% end %>
    <% end %>

    <div class="flex items-start justify-between">
      <div class="flex flex-col gap-1 shrink-0 w-64">
        <span class="font-medium text-stone-800 flex-none">Size</span>
        <span class="text-stone-600 text-sm">
          Add a mount to your service.
        </span>
      </div>

      <div class="px-2 w-7/12">
        <%= render UI::StepSliderComponent.new(
          form:,
          steps: options_value,
          labels: options_value.map { |m| number_to_human_size(m) },
          name: :pvc_size_bytes,
          disabled: !existing_mount?,
          form_attributes: { 'data-expandable-form-target': 'formField' }
          ) %>
      </div>
    </div>


    <div class="w-full flex justify-end">
      <div class="border bg-red-700 text-white p-2 cursor-pointer w-fit text-sm" data-action="click->expandable-form#hideSubForm">
        Remove Disk
      </div>
    </div>
  </div>
</div>
