<div class="relative z-10 flex flex-col gap-6">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 justify-between">
      <div class="">
        <div class="font-semibold">Services</div>
      </div>

      <div class="flex items-center gap-1">
        <div class="flex items-center">
          <% if !project_version.published? %>
            <%= link_to new_version_project_service_path(project_version), class: 'button flex gap-1 items-center' do %>
              <%= heroicon 'plus', class: 'size-4' %>
              Add Service
            <% end %>
          <% end %>
        </div>
        <% if !project_version.published? && project_version.eligible_dependencies.present? && Flipper.enabled?(:dependencies, current_user) %>
          <div class="flex items-center">
            <%= link_to version_dependencies_path(project_version), class: 'button flex gap-1 items-center' do %>
              <%= heroicon 'squares-plus', class: 'size-4' %>
              Add Dependency
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if services.empty? && dependencies.empty? %>
    <div class="flex items-center justify-center h-48 border border-stone-300">
      <div class="text-stone-500">Services will be visible here when created.</div>
    </div>
  <% else %>
    <ul class="grid gap-6 grid-cols-[repeat(auto-fit,minmax(22.125rem,1fr))] [@container(min-width:87.5rem)]:grid-cols-[repeat(3,28.1666666667rem)]">
      <% services.each do |service| %>
        <%= render Services::ElementComponent.new(service:, version: project_version) %>
      <% end %>

      <% dependencies.each do |dependency| %>
        <%= render Services::DependencyElementComponent.new(dependency:, version: project_version) %>
      <% end %>
    </ul>
  <% end %>
</div>

