<div class="relative z-10 flex flex-col gap-6">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 justify-between">
      <div class="">
        <div class="font-semibold">Services</div>
      </div>

      <div class="flex items-center gap-2">
        <div class="flex items-center">
          <% if !project_version.published? %>
            <%= link_to new_version_project_service_path(project_version), class: 'button flex gap-1 items-center' do %>
              <%= heroicon 'plus', class: 'size-4' %>
              Add Service
            <% end %>
          <% end %>
        </div>
        <% if !project_version.published? && project_version.eligible_dependencies.present? %>
          <div class="flex items-center">
            <%= link_to version_dependencies_path(project_version), class: 'button flex gap-1 items-center' do %>
              <%= heroicon 'squares-plus', class: 'size-4' %>
              Add Dependency
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if services.empty? && dependencies.empty? %>
    <div class="flex items-center justify-center h-48 border border-stone-300 bg-white">
      <div class="text-stone-500">Services will be visible here when created.</div>
    </div>
  <% else %>
    <ul class="grid gap-6">
      <% if !project_version.published? && Flipper.enabled?(:shepherd_agent, current_user) %>
        <li class="bg-white border-stone-400 border p-4 has-[:checked]:border-stone-600">
          <%= form_with url: toggle_agent_version_path(project_version),
              data: { controller: 'auto-form', action: 'change->auto-form#submitForm' } do |f| %>
            <%= f.label :agent do %>
              <div class="flex items-center gap-2 justify-between">
                <div class="flex items-center gap-2">
                  <%= f.check_box :agent, { checked: project_version.full_agent? }, :full, :no %>
                  <span class="semibold">
                  Shepherd Agent
                </span>
                  <%= heroicon :rss, class: 'size-4' %>
                </div>
              </div>
              <div class="text-sm mt-2 text-stone-500">
                Add the Shepherd Agent to this version to enable support for automatic upgrades, health checks, and monitoring.
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <% services.each do |service| %>
        <%= render Services::ElementComponent.new(service:, version: project_version) %>
      <% end %>

      <% dependencies.each do |dependency| %>
        <%= render Services::DependencyElementComponent.new(dependency:, version: project_version) %>
      <% end %>
    </ul>
  <% end %>
</div>

