<div class="flex flex-col gap-8" data-controller="expandable-form">
  <div class="flex items-start justify-between gap-24">
    <div class="flex flex-col gap-1 max-w-1/2">
      <div class="flex items-baseline flex-col">
        <div class="font-medium text-stone-800 flex-none">Image Credentials</div>
        <div class="font-medium text-stone-500 uppercase text-xs flex-none">Optional</div>
      </div>
      <span class="text-stone-600 text-sm">
        Docker hub credentials. Required for private images. Can also use access token with <span class="font-mono">read</span> permissions.
      </span>

    </div>

    <div class="<%= 'hidden' if existing_credentials? %> w-full flex justify-end" data-expandable-form-target="addButton">
      <% if disabled %>
        <div class="flex items-center gap-1 opacity-90 cursor-not-allowed bg-stone-100 select-none text-sm border px-2 py-1 text-stone-700 shadow-sm max-h-8 h-12 border-stone-300">
          <%= heroicon :plus, class: 'size-4' %>
          Add Credentials
        </div>
      <% else %>
        <div class="button flex items-center gap-1" data-action="click->expandable-form#showSubForm">
          <%= heroicon :plus, class: 'size-4' %>
          Add Credentials
        </div>
      <% end %>
    </div>
  </div>

  <div class="<%= 'hidden' unless existing_credentials? %> flex flex-col gap-8" data-expandable-form-target="subForm">

    <%= render UI::FormTextFieldComponent.new(title: 'Username', disabled:) do |component| %>
      <%= component.with_label do %>
        Docker hub username.
      <% end %>
      <%= component.with_field do %>
        <%= form.text_field :image_username,
                            placeholder: 'Username',
                            disabled: !existing_credentials? || disabled,
                            'data-expandable-form-target': 'formField',
                            class: ['text-sm w-full !p-0 border-0 focus:ring-0 bg-transparent', { 'cursor-not-allowed': disabled }] %>
      <% end %>
    <% end %>

    <%= render UI::FormTextFieldComponent.new(title: 'Password', disabled:) do |component| %>
      <%= component.with_label do %>
        Docker hub password or Personal Access Token.
      <% end %>
      <%= component.with_field do %>
        <%= form.text_field :image_password,
                            required: true,
                            placeholder: 'Password',
                            disabled: !existing_credentials? || disabled,
                            'data-expandable-form-target': 'formField',
                            class: ['text-sm w-full !p-0 border-0 focus:ring-0 bg-transparent', { 'cursor-not-allowed': disabled }] %>
      <% end %>
    <% end %>

    <% if disabled %>
      <div class="w-full flex justify-end">
        <div class="border bg-red-600 text-white p-2 cursor-not-allowed w-fit text-sm opacity-70">
          Remove Credentials
        </div>
      </div>
    <% else %>
      <div class="w-full flex justify-end">
        <div class="border bg-red-700 text-white p-2 cursor-pointer w-fit text-sm" data-action="click->expandable-form#hideSubForm">
          Remove Credentials
        </div>
      </div>
    <% end %>
  </div>
</div>
