<div class="flex items-center gap-2 h-7">
  <div class="p-1 bg-stone-100 border rounded-md px-2 font-mono text-xs flex items-center gap-1">
    <%= heroicon 'cpu-chip', class: 'size-4' %>
    <%= pluralize(service.cpu_cores.to_i, 'core') %>
    <span class="text-stone-400 px-1">|</span>
    <div class="size-4 mr-0.5"><%= render Icons::MemoryStickComponent.new %></div>
    <%= number_to_human_size(service.memory_bytes) %>
    <% if service.respond_to?(:disk_bytes) && service.disk_bytes.present? %>
      <span class="text-stone-400 px-1">|</span>
      <div class="size-4 mr-0.5"><%= render Icons::HardDriveComponent.new %></div>
      <%= number_to_human_size(service.disk_bytes) %>
    <% end %>
  </div>
</div>
