<%= form_for service, url:, method: do |form| %>
  <div class="flex flex-col gap-6">
    <div class="flex items-center justify-between">
      <%= form.label :name, class: 'font-medium' %>
      <%= form.text_field :name,
                          required: true,
                          'data-1p-ignore': true,
                          'data-lpignore': true,
                          class: 'w-1/2 p-2 rounded-md bg-stone-700 text-stone-100' %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.label :image, class: 'font-medium' %>

      <%= form.text_field :image,
                          required: true,
                          class: 'w-1/2 p-2 rounded-md bg-stone-700 text-stone-100' %>
    </div>

    <div class="flex items-start justify-between">
      <span class="font-medium text-stone-100">Resources</span>
      <%= form.fields_for :resources do |resources_form| %>
        <div class="flex flex-col gap-4 rounded-md p-4 border border-stone-400 w-full max-w-4xl">
          <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
            <%= render Services::ResourceSelectorComponent.new(form: resources_form, field_name: :cpu_request, field_label: 'Min CPU', default_value: service.resources&.dig('cpu_request') || 1, default_unit: service.resources&.dig('cpu_request_unit') || 'Cores') %>
            <%= render Services::ResourceSelectorComponent.new(form: resources_form, field_name: :cpu_limit, field_label: 'Max CPU', default_value: service.resources&.dig('cpu_limit') || 2, default_unit: service.resources&.dig('cpu_limit_unit') || 'Cores') %>
            <%= render Services::ResourceSelectorComponent.new(form: resources_form, field_name: :memory_request, field_label: 'Min memory', default_value: service.resources&.dig('memory_request') || 1, default_unit: service.resources&.dig('memory_request_unit') || 'Gi') %>
            <%= render Services::ResourceSelectorComponent.new(form: resources_form, field_name: :memory_limit, field_label: 'Max memory', default_value: service.resources&.dig('memory_limit') || 2, default_unit: service.resources&.dig('memory_limit_unit') || 'Gi') %>
          </div>
        </div>
      <% end %>
    </div>

    <%# TODO: add env variables and secrets. Env variables will need a checkbox to denote if hard coded or the user should override %>

    <div class="flex items-start justify-between gap-10" data-controller="dynamic-elements">
      <div class="flex flex-col gap-1 max-w-96">
        <span class="font-medium text-stone-100 flex-none">Environment Variables</span>
        <span class="text-stone-400 text-sm">
          Do not put sensitive values here. Sensitive values should be stored in secrets.
          'Client set' denotes placeholders where the client will provide the value.
        </span>
      </div>
      <%= form.fields_for :environment_variables, index: '' do |env_var_form| %>
        <div class="flex flex-col gap-4 rounded-md p-4 border border-stone-400 w-full max-w-4xl">
          <div class="flex flex-col gap-4" data-dynamic-elements-target="container">
            <% service&.environment_variables&.each do |environment_variable| %>
              <%= render Services::EnvironmentVariableComponent.new(form: env_var_form, environment_variable:) %>
            <% end %>
            <%= render Services::EnvironmentVariableComponent.new(form: env_var_form) if service&.environment_variables.blank? %>
          </div>
          <div class="text-sm p-2 text-stone-100 bg-stone-700 rounded-md cursor-pointer w-fit" data-action="click->dynamic-elements#addElement">
            Add Environment Variable
          </div>
        </div>
        <template data-dynamic-elements-target="template">
          <%= render Services::EnvironmentVariableComponent.new(form: env_var_form) %>
        </template>
      <% end %>
    </div>

    <div class="flex items-start justify-between gap-10" data-controller="dynamic-elements">
      <div class="flex flex-col gap-1 max-w-96">
        <span class="font-medium text-stone-100 flex-none">Secrets</span>
        <span class="text-stone-400 text-sm">
          Client provided secrets. Use for sensitive values like API keys, passwords, etc.
        </span>
      </div>

      <%= form.fields_for :secrets, index: '' do |secret_form| %>
        <div class="flex flex-col gap-4 rounded-md p-4 border border-stone-400 w-full max-w-4xl">
          <div class="flex flex-col gap-4" data-dynamic-elements-target="container">
            <% service&.secrets&.each do |secret| %>
              <%= render Services::SecretComponent.new(form: secret_form, secret:) %>
            <% end %>
            <%= render Services::SecretComponent.new(form: secret_form) if service&.secrets.blank? %>
          </div>
          <div class="text-sm p-2 text-stone-100 bg-stone-700 rounded-md cursor-pointer w-fit" data-action="click->dynamic-elements#addElement">
            Add Secret
          </div>
          <template data-dynamic-elements-target="template">
            <%= render Services::SecretComponent.new(form: secret_form) %>
          </template>
        </div>
      <% end %>
    </div>

    <%= form.submit update_create_text, class: 'px-3 py-2 mt-2 bg-stone-700 rounded-md text-stone-100 cursor-pointer w-fit' %>
  </div>
<% end %>
