<div class="flex <%= vertical ? 'flex-col gap-4' : 'gap-8' %> items-start justify-between">
  <div class="flex flex-col gap-1">
    <div class="flex flex-col">
      <span class="font-medium text-stone-800 flex-none"><%= title %></span>
      <% if caveat.present? %>
        <span class="text-stone-500 text-xs font-medium uppercase"><%= caveat %></span>
      <% end %>
    </div>
    <span class="text-stone-700 text-sm flex flex-col gap-1">
      <%= label %>
    </span>
  </div>

  <div class="flex flex-col gap-1 p-4 border border-stone-300 <%= vertical ? 'w-full' : 'w-7/12 shrink-0' %>">
    <%= header %>
    <div class="flex flex-col gap-2">
      <%= render UI::DynamicNestedForm::FormComponent.new(
        form:,
        id: unique_id,
        association_name:,
        model_class:,
        wrapper_classes: 'flex flex-col gap-2',
        maximum_subforms: 10,
        ) do |component| %>
        <% component.with_subform_content do |secret_form| %>
          <%= render child_component.new(form: secret_form) %>
        <% end %>
      <% end %>

      <%= render UI::DynamicNestedForm::AddButtonComponent.new(
        for_id: unique_id,
        ) do |component| %>
        <% component.with_button do %>
          <div class="text-sm rounded-md cursor-pointer w-fit">
            + Add
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
